In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv(r'/Users/alix/Documents/Tableau-Dashboards-/Information_lab/Operations.csv')
data

/var/folders/w_/wfsqzgp956n1415505gs36_h0000gn/T/ipykernel_7234/2705143401.py:1: DtypeWarning: Columns (11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'/Users/alix/Documents/Tableau-Dashboards-/Information_lab/Operations.csv')

,Identifiant_de_l_etablissement,Nom_etablissement,Type_etablissement,Ecole_maternelle,Ecole_elementaire,Statut_public_prive,libelle_nature,Adresse_1,Adresse_2,Adresse_3,...,Code_region,Libelle_region,latitude,longitude,Nombre_d_eleves,date_ouverture,etat,Participation_LEGO_Duplo_2017-06,Participation_DISNEY_Roi-Lion_2019-10,Participation_DISNEY_Reine-des-Neiges_2018-04
0,0010093W,Ecole primaire privée Sainte Marie,Ecole,1,1,Privé,ECOLE DE NIVEAU ELEMENTAIRE,21 rue du Pensionnat,NaN,01500 AMBERIEU EN BUGEY,...,84,Auvergne-Rhône-Alpes,45.958272,5.36141,319.0,3/12/1971,OUVERT,NaN,NaN,NaN
1,0010106K,Ecole élémentaire,Ecole,0,1,Public,ECOLE DE NIVEAU ELEMENTAIRE,Rue de Mijoux,NaN,01410 LELEX,...,84,Auvergne-Rhône-Alpes,46.303170,5.94051,10.0,10/27/1966,OUVERT,NaN,NaN,NaN
2,0010107L,Ecole primaire,Ecole,1,1,Public,ECOLE DE NIVEAU ELEMENTAIRE,Rue de la Velle,NaN,01170 SEGNY,...,84,Auvergne-Rhône-Alpes,46.296001,6.07358,248.0,10/27/1966,OUVERT,NaN,NaN,NaN
3,0010108M,Ecole primaire,Ecole,1,1,Public,ECOLE DE NIVEAU ELEMENTAIRE,Rue du Château,NaN,01170 VESANCY,...,84,Auvergne-Rhône-Alpes,46.348100,6.08925,33.0,10/27/1966,OUVERT,NaN,NaN,1.0
4,0010109N,Ecole primaire Jean Calas,Ecole,1,1,Public,ECOLE DE NIVEAU ELEMENTAIRE,Place de la Mairie,NaN,01210 FERNEY VOLTAIRE,...,84,Auvergne-Rhône-Alpes,46.256678,6.10701,294.0,10/20/1966,OUVERT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50828,9870022K,Ecole primaire privée de Ninive-Falaleu,Ecole,1,1,Privé,ECOLE DE NIVEAU ELEMENTAIRE,FALALEU HAHAKE MATA UTU UVEA,NaN,98600 UVEA,...,0,TOM et Collectivités territoriales,NaN,NaN,NaN,9/6/1988,OUVERT,NaN,1.0,NaN
50829,9870023L,Ecole maternelle privée de Hahake,Ecole,1,0,Privé,ECOLE MATERNELLE,HAHAKE MATA UTU UVEA,NaN,98600 UVEA,...,0,TOM et Collectivités territoriales,NaN,NaN,NaN,9/6/1988,OUVERT,NaN,NaN,NaN
50830,9870024M,Ecole primaire privée de Fatima,Ecole,1,1,Privé,ECOLE DE NIVEAU ELEMENTAIRE,HIHIFO UVEA,NaN,98600 UVEA,...,0,TOM et Collectivités territoriales,NaN,NaN,NaN,9/6/1988,OUVERT,NaN,NaN,NaN
50831,9870028S,Ecole primaire privée de Ahoa,Ecole,1,1,Privé,ECOLE DE NIVEAU ELEMENTAIRE,AHOA HAHAKE,NaN,98600 UVEA,...,0,TOM et Collectivités territoriales,NaN,NaN,NaN,9/1/1992,OUVERT,NaN,NaN,NaN
50832,9870031V,Ecole maternelle privée Vele Alo,Ecole,1,0,Privé,ECOLE MATERNELLE,VELE ALO,NaN,98610 ALO,...,0,TOM et Collectivités territoriales,NaN,NaN,NaN,11/8/1994,OUVERT,NaN,NaN,1.0

In [4]:
data.shape

(50833, 27)

In [5]:
data.dtypes

Identifiant_de_l_etablissement                    object
Nom_etablissement                                 object
Type_etablissement                                object
Ecole_maternelle                                   int64
Ecole_elementaire                                  int64
Statut_public_prive                               object
libelle_nature                                    object
Adresse_1                                         object
Adresse_2                                         object
Adresse_3                                         object
Code postal                                        int64
Code_commune                                      object
Nom_commune                                       object
Code_departement                                  object
Libelle_departement                               object
Code_academie                                      int64
Libelle_academie                                  object
Code_region                                        int64
Libelle_region                                    object
latitude                                         float64
longitude                                        float64
Nombre_d_eleves                                  float64
date_ouverture                                    object
etat                                              object
Participation_LEGO_Duplo_2017-06                 float64
Participation_DISNEY_Roi-Lion_2019-10            float64
Participation_DISNEY_Reine-des-Neiges_2018-04    float64
dtype: object

In [6]:
data.libelle_nature.unique()

array(['ECOLE DE NIVEAU ELEMENTAIRE', 'ECOLE MATERNELLE',
       'ECOLE ELEMENTAIRE D APPLICATION',
       'ECOLE MATERNELLE D APPLICATION',
       'ECOLE ELEMENTAIRE ANNEXE D ESPE',
       'ECOLE DE NIVEAU ELEMENTAIRE SPECIALISEE',
       'ECOLE MATERNELLE SPECIALISEE', 'ECOLE DE PLEIN AIR',
       'ECOLE REGIONALE DU PREMIER DEGRE',
       'ECOLE SANS EFFECTIFS PERMANENTS', 'ECOLE PRIMAIRE FRANCAISE',
       'ECOLE MATERNELLE ANNEXE D ESPE'], dtype=object)

In [7]:
data["Code postal"].nunique()

6405

In [8]:
data.etat.unique()

array(['OUVERT', 'A FERMER', 'A OUVRIR', nan], dtype=object)

In [9]:
data.etat.isnull().sum()

1

In [10]:
data["Participation_LEGO_Duplo_2017-06"].unique()

array([nan,  1.])

In [11]:
data["Participation_DISNEY_Roi-Lion_2019-10"].unique()

array([nan,  1.])

In [12]:
data.isnull().sum()

Identifiant_de_l_etablissement                       0
Nom_etablissement                                    0
Type_etablissement                                   0
Ecole_maternelle                                     0
Ecole_elementaire                                    0
Statut_public_prive                                  0
libelle_nature                                       0
Adresse_1                                           20
Adresse_2                                        50186
Adresse_3                                            0
Code postal                                          0
Code_commune                                         0
Nom_commune                                          0
Code_departement                                     0
Libelle_departement                                  0
Code_academie                                        0
Libelle_academie                                     0
Code_region                                          0
Libelle_region                                       0
latitude                                           550
longitude                                          550
Nombre_d_eleves                                    665
date_ouverture                                       0
etat                                                 1
Participation_LEGO_Duplo_2017-06                 47833
Participation_DISNEY_Roi-Lion_2019-10            47833
Participation_DISNEY_Reine-des-Neiges_2018-04    45833
dtype: int64